<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout_23110236}">
<head>
    <title>Trang người bán</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="jumbotron bg-success text-white p-5 rounded mb-4">
            <h1 class="display-4">Trang người bán</h1>
            <p class="lead">Chào mừng bạn đến với trang quản lý cửa hàng</p>
            <hr class="my-4">
            <p>Quản lý sản phẩm và đơn hàng của cửa hàng bạn</p>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body text-center">
                        <i class="fas fa-box fa-3x text-primary mb-3"></i>
                        <h5 class="card-title">Sản phẩm của tôi</h5>
                        <p class="card-text">Xem và quản lý sản phẩm của cửa hàng</p>
                        <a th:href="@{/seller/products}" class="btn btn-primary">Quản lý sản phẩm</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body text-center">
                        <i class="fas fa-chart-line fa-3x text-success mb-3"></i>
                        <h5 class="card-title">Thống kê</h5>
                        <p class="card-text">Xem thống kê bán hàng và doanh thu</p>
                        <a th:href="@{/seller/stats}" class="btn btn-success">Xem thống kê</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
